body{
background-color: #f4f4f4;

    margin: 0;
}
.container{
    margin-left: 10.5em;
    margin-right: 10.5em;
    align-items:center;
    
    
}

@media(max-width: 770px)
{
    .container{
        margin:0 10%;
    }
}